.post {
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 25px;
	color: gray;
}

.post > .poster_header > img {
	object-fit: cover;
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
}

.poster_header {
	display: flex;
	flex-direction: row;
}
.header_name > h4 {
	margin-top: 10px;
	font-size: 100%;
	font-weight: 600;
}
.header_name > p {
	font-size: 100%;
	font-weight: 300;
	margin-top: -10px;
}

.poster_blog {
	margin-left: 15px;
	margin-right: 10px;
	font-size: 110%;
	font-weight: 475;
}

.poster_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}