.input_type {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	padding: 0px 15px 0px 15px;
}
.input_type > p {
	padding-top: 17px;
	font-weight: 400;
}

.input_type > svg {
	margin-right: 8px;
}

.input_type:hover {
	background-color: whitesmoke;
	border-radius: 10px;
}
