.input_type {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0px 15px 0px 15px;
}
.input_type > p {
  padding-top: 17px;
  font-weight: 400;
}

.input_type > svg {
  margin-right: 8px;
}

.input_type:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.post-input-filed {
  margin-top: 5px;
  justify-content: space-evenly;
  border-radius: 2.25rem !important;
  width: 100%;
  line-height: 33px;
  padding: 8px 1px 9px 16px;
  font-weight: bold !important;
  font-size: 14px;
  background-color: transparent !important;
  border: 1px solid #b9b9b9 !important;
  flex: 1;
  height: 50px;
  cursor: pointer;
}
.post-input-filed:hover {
  background-color: #e0e0e094 !important;
}

.posting_area {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  color: gray;
  padding: 10px;
  padding-left: 15px;
}

.postfeed {
  margin-top: 20px;
  border-radius: 10px;
}

.posting_area > .headericons_avatar > .header_title_container {
  display: none;
}
.posting_area > .headericons_avatar > img {
  width: 50px !important;
  height: 50px !important;
  margin-right: 10px;
}
.postoption {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.post-input-model img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  margin-left: 10px;
}

.post-input-model > div {
  position: absolute;
  left: 72px;
}
.post-input-model button {
  border-radius: 1.25rem !important;
  line-height: 11px !important;
  width: 113px;
  font-weight: bold !important;
  color: #717171 !important;
  background-color: transparent !important;
  border: 1px solid #717171 !important;
  padding: 2px 20px 2px 4px;
  font-size: smaller;
}
.post-input-model button:hover {
  color: #212529 !important;
  text-decoration: none;
  outline: 2px solid #717171 !important;
  outline-offset: -2px !important;
  background-color: #eeeeee !important;
}
textarea:focus {
  box-shadow: none !important;
}

textarea {
  border: none !important;
}
