.edu_list {
	background-color: white;
	border: 1ps solid whitesmoke;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.edu_list_title {
	color: rgb(126, 126, 126);
	padding-top: 10px;
	margin-left: 20px;
	display: inline;
}
.edu_list_sublist > img {
	margin-left: 20px;
	width: 70px;
	height: 70px;
	border-radius: 0px;
}
.edu_list_list {
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
	justify-content: space-between;
	margin-right: 20px;
	border-bottom: 1px solid rgb(223, 223, 223);
	align-items: center;
}
.edu_list_list:last-child {
	border-bottom: 0px;
}
.edu_list_sublist {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}
.edu_list_list_txt {
	margin-left: 10px;
	cursor: pointer;
}
.edu_list_list_txt > h5 {
	margin-left: 10px;
	margin-bottom: 3px;
	font-weight: 500;
	font-size: 100%;
}

.edu_list_list_txt > p {
	margin-left: 10px;
	font-weight: 200;
	font-size: 90%;
	margin-bottom: 0px;
	color: gray;
}
.edu_list_list_txt > p:first-of-type {
	color: rgb(0, 0, 0);
}
.edu_list > .edu_list_list:first-of-type {
	padding-top: 0px;
}

.edu_list_list_txt:hover {
	text-decoration: underline;
}
.adding_edu {
	display: flex;
	justify-content: space-between;
}
.education-button {
	margin-top: 0px !important;
	border-radius: 50%;
	padding: 8px;
	background-color: rgb(255, 255, 255);
	margin-right: 15px;
	border: 0px;
	color: #9c9c9c;
	cursor: pointer;
}
.education-button:hover {
	background-color: rgb(230, 230, 230);
}

.btns_vertical_edit {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85px;
}
.btns_vertical_edit > :nth-child(2):hover {
	background-color: rgb(207, 207, 207);
	border-radius: 50%;
	border: 3px solid rgb(207, 207, 207);
}
.btns_vertical_edit > :first-child:hover {
	background-color: rgb(207, 207, 207);
	border-radius: 50%;
	border: 3px solid rgb(207, 207, 207);
}
