.edu_list {
	background-color: white;
	border: 1ps solid whitesmoke;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.edu_list_title {
	color: rgb(126, 126, 126);
	padding-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.edu_list_list > img {
	margin-left: 20px;
	width: 70px;
	height: 70px;
	border-radius: 0px;
}
.edu_list_list {
	display: flex;
	flex-direction: row;
}
.edu_list_list_txt {
	margin-left: 10px;
	cursor: pointer;
}
.edu_list_list_txt > h5 {
	margin-left: 10px;
	margin-bottom: 3px;
	font-weight: 500;
	font-size: 100%;
}

.edu_list_list_txt > p {
	margin-left: 10px;
	font-weight: 200;
	font-size: 90%;
	margin-bottom: 0px;
	color: gray;
}
.edu_list_list_txt > p:first-of-type {
	color: rgb(0, 0, 0);
}
.edu_list_list {
	padding-bottom: 30px;
	padding-top: 30px;
}
.edu_list > .edu_list_list:first-of-type {
	padding-top: 0px;
}

.edu_list_list_txt:hover {
	text-decoration: underline;
}
