.experience {
	background-color: white;
	border: 1ps solid whitesmoke;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.experience_title {
	color: rgb(126, 126, 126);
	padding-top: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
}
