.input_form {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.input_form > div {
	color: rgb(66, 66, 66);
	margin-bottom: 20px;
}
.from__body {
	max-height: 700px;
	overflow-y: scroll;
}
.input_description > .mb-3 > textarea {
	border: 1px solid rgb(170, 170, 170) !important;
}
.input_last > h5 {
	font-weight: 500;
	font-size: 100%;
}
.input_last > h6 {
	display: inline;
	font-weight: 400;
	font-size: 100%;
	margin-bottom: 20px !important;
}
.input_last > button {
	padding: 5x;
	margin-top: 15px;
	padding-top: 8px;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	margin-left: 20px;
	border: 1px solid #2d7dcb;
	color: #2d7dcb;
	cursor: pointer;
}
.input_last > button:hover {
	border: 1px solid #0d5fb1;
	background-color: rgb(193, 206, 248);
}

.footer_button > button {
	border: 0px;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 10px !important;
	background-color: #004182;
	border-radius: 25px;
}
