.interests {
	background-color: white;
	border-radius: 10px;
	margin-top: 20px;
}
.interests_title {
	font-size: 160%;
	color: rgb(126, 126, 126);
	padding-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.interests_list > img {
	margin-left: 20px;
	width: 70px;
	height: 70px;
	border-radius: 0px;
}
.interests_list {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}
.interests_big {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 30px;
}
.into_it {
	background-color: white;
	margin-top: 30px ;
	border-radius: 10px;
}
