.modal-content {
  width: 132%;
}
.img-upload-box {
  position: relative;
}
.img-upload-box,
.img-upload-box-footer,
.profile-pic-update-body {
  background-color: #1d2226 !important;
  border: none;
}

.img-container > img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  position: absolute;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  bottom: -70px;
}
